*{
    padding: 0;
   margin: 0;
}
body{
    background-color: floralwhite;


}
#daohang{

    height: 40px;
    background-color: red;
    margin: auto;
} 
#main{
    margin:auto;

    margin: 20px 30px 0px 30px;
}

#main_top{
     height: 160px;
    background-color: wheat;

}
#main_top_left{
    width: 160px;
    height: 160px;
    background-color: red;
    float: left;
}
#main_top_right {
    float: left;
}
#main_top_right h3{
    padding: 20px;
}
#main_top_right p{
    padding-left: 20px;
}

#main_a{
    margin: 40px 0;
    height: 20px;
}

#main_a a{
    padding: 0 20px;
    text-decoration: none;
    color: black;

}
#main_a a:hover{
    color: red;
    transition: .5s;
}
.one{
    float: left;
}
.two{
    float: right;
}
.two a{
    font-size: 12px;
}

#main_bottom{
    background-color: wheat;
}

#main_bottom_left{
    width: 68%;

    float: left;
}


.MB1{

    height: 30px;
    padding: 10px 5px;
    margin: 10px 0;
}
.MB1 h3{
    float: left;
    line-height: 30px;
}
.MB1 a{
    float: right;
    text-decoration: none;
    color: black;
    font-size: 12px;
    line-height: 30px;
}

.MB2{
    height: 300px;
    border: 1px solid #000;
}



#main_bottom_right{
    width: 30%;
    background-color: white;
    float: right;
}

#main_bottom_right_top{
    padding: 10px;
    border: 1px solid #000;
    margin-bottom: 20px;
}

#main_bottom_right_top p:first-child{
    margin-bottom: 20px;
}

#main_bottom_right_top p:nth-child(2) span{
    margin-left: 60px;
}

#main_bottom_right_bottom{
    border: 1px solid #000;
    padding: 20px;
    height: 500px;
}

#main_bottom_right_bottom h1{
    text-align: left;
}
.left{
    float: left;
}
.left ul{
    list-style: none;
}

.left ul li{
    padding: 5px;
}